$scale:1.5;
$color:red;

.measure-x{
  height:2px;
  background-color: red;
  position:absolute;
  transition: all 300ms;
  border-radius: 3px;

  .value{
    color:red;
    position: absolute;
    left:50%;
    top:-20px;
    transform: translate(-50%, 0);
  }
  
  .arrow-left {
    position:absolute;
    width: 0;
    height: 0;
    left:-4px;
    top:-3.5px;
    border-top: calc(3px * $scale) solid transparent;
    border-bottom: calc(3px * $scale) solid transparent;
    border-right: calc(8px * $scale) solid $color;
    transition: all 300ms;
    transform: scaleX(1);
  }
  
  .arrow-right {
    position:absolute;
    width: 0;
    height: 0;
    right:-4px;
    top:-3.5px;
    border-top: calc(3px * $scale) solid transparent;
    border-bottom: calc(3px * $scale) solid transparent;
    transition: all 300ms;
  
    border-left: calc(8px * $scale) solid $color;
    transform: scaleX(1);
  }
}

.measure-y{
  width:2px;
  background-color: red;
  position:absolute;
  transition: all 300ms;
  border-radius: 3px;

  .value{
    color:red;
    position: absolute;
    top:50%;
    left:5px;
    transform: translate(0%, -50%);
  }
  
  .arrow-up {
    position:absolute;
    width: 0;
    height: 0;
    top:-4px;
    left:-3.5px;
    border-left: calc(3px * $scale) solid transparent;
    border-right: calc(3px * $scale) solid transparent;
    border-bottom: calc(8px * $scale) solid $color;
    transition: all 300ms;
    transform: scaleX(1);
  }
  
  .arrow-down {
    position:absolute;
    width: 0;
    height: 0;
    right:-3.5px;
    bottom:-4px;
    border-left: calc(3px * $scale) solid transparent;
    border-right: calc(3px * $scale) solid transparent;
    border-top: calc(8px * $scale) solid $color;
    transition: all 300ms;
  
    transform: scaleX(1);
  }
}
