$svg-size: 7rem;

.header{
  display: flex;
  justify-content: center;
  background-color: #8E96B2;
  padding: 1rem 0;
  
  .header-content{
    display: flex;
    flex-direction: column;
    width:80%;

    .logo{
      color: #342F3D;
      font-size: 3rem;
      font-weight: 600;

      @include media-breakpoint-up(sm){
        font-size: 4rem;
      }
    }
  
    .links{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 1.5rem;
    }
  }


}

.content{
  background-color: #342F3D;
  display: flex;
  justify-content: center;

  .content-container{
    width:80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .introduction{
      width:100%
    }
    
    h1{
      font-size: 6rem;
    }
    
    p{
      font-size: 1.5rem;
    }

    .tech-stack{

      margin-top:8rem;

      h2{
        font-size: 3rem;
        text-align: center;
      }
    }

    .stack{
      margin-top:2rem;
      padding:0;
      background-color: #4c4c5a;
      border-radius: .75rem;
      z-index: 4;
      .accordion{
        grid-column-start: 1;
        grid-column-end: 4;
        height: 0rem;
        
        overflow:hidden;
        background-color: #bec6e5;
        width:100%;
        transition: all 400ms;
        
        .text{
          width:25rem;
          color:#383847;
          margin: 2rem;
        }
        
        .ready{
  
        }
  
        
      }
      
      .open{
        height:15rem;

        .text{
        }
      }


      .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        color: white !important;
        padding:1rem;
        padding-top:1rem;
        border-radius: .5rem;
        
        &:hover{
          background-color: #68687a;
          box-shadow: 0px 9px 14px 0px rgb(50, 50, 50, .7);
          transform: translateY(-.5rem);
        }

        transition: all 400ms ease;

        

        p{
          margin: .5rem 0 0 0;
          font-size: 1rem;
        }
        
        img{
          width: $svg-size;
          height: $svg-size;
          pointer-events: none;
        }
      }

    }

    .front-end{

      
      .front-end-row{
        grid-template-columns: 1fr;
        display: grid;
        column-gap: 6rem;
        row-gap: 3rem;
        margin:1rem 5rem 1rem 5rem;
        justify-content:center;

        @include media-breakpoint-up(md){
          grid-template-columns: 1fr 1fr;
        }
        
        @include media-breakpoint-up(lg){
          grid-template-columns: 1fr 1fr 1fr;
        }

        &.top{
          margin-top:5rem;
        }
        &.bottom{
          margin-bottom:5rem;
        }
      }

    }

    .back-end{
      .accordion{
        margin-bottom:4rem;

      }
      .back-end-row{
        grid-template-columns: 1fr;
        display: grid;
        column-gap: 6rem;
        row-gap: 3rem;
        margin:5rem 5rem 1rem 5rem;
        justify-content:center;
  
        @include media-breakpoint-up(md){
          grid-template-columns: 1fr 1fr;
        }
        
        @include media-breakpoint-up(lg){
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }

    .dev-ops{

      .dev-ops-row{
        grid-template-columns: 1fr;
        display: grid;
        column-gap: 6rem;
        row-gap: 3rem;
        margin:5rem 5rem 5rem 5rem;
        justify-content:center;
  
        @include media-breakpoint-up(md){
          grid-template-columns: 1fr 1fr;
        }

      }
      

    }

    .socials{
      display: grid;

      grid-template-columns: 1fr 1fr 1fr;
      background-color: transparent !important;
      column-gap: 5vw;
      margin-top:2rem;
      padding:0;


      .logo{
        
        img{
          width: $svg-size/4 !important;
          height: $svg-size/4 !important;

          @include media-breakpoint-up(md){
            width: $svg-size/3 !important;
            height: $svg-size/3 !important;
          }
          
          @include media-breakpoint-up(lg){
            width: $svg-size/2 !important;
            height: $svg-size/2 !important;
          }
        }

        .youtube{
          width:initial !important;
        }

      }

    }

  }
}

.footer{
  background-color: #8E96B2;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap:1rem;
  padding:1rem;

  @include media-breakpoint-up(sm){
    flex-direction: row;
  }
}