
.Blog{
  background-color: #342F3D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100rem;

  .blog{
    display: flex;
    gap:2rem;
    // height:100rem;
    flex:1;
    padding:2rem;
    justify-content: center;
    font-family: monospace !important;

    .text-container{
      position: relative;
      font-family: 'Roboto', sans-serif;
      width:23rem;
      color:white;
      height:80vh;
      .text{
        text-align: justify;
        text-align-last: justify;
      }
    }

  }
}

.logger{
  position:fixed;
  left:2rem;
  bottom:1rem;
  color: rgb(255, 0, 0);
}
