.blog{
  flex-direction: column;
  justify-content: space-between;
  background-color: #342F3D;
  height:100%;
  touch-action: none;


  .title{
    color: white;
    margin: 1rem 7.5% 0 7.5%;
    margin: 2rem 7.5%;
    display: none;

    @include media-breakpoint-up(lg){
      display: initial;
    }
  }

  .introduction{
    color: white;
    margin: 2rem 7.5%;
    display: none;

    @include media-breakpoint-up(lg){
      display: initial;
    }
  }

  .content{
    display: flex;
    flex-direction: column-reverse;
    height:100%;
    background-color: coral;
    flex:1;
    justify-content: center;
    padding:0;
    font-family: monospace !important;
    // scroll-snap-align: start;
    
    // _textWrapper.scss
    // _codeWrapper.scss
    // _renderWrapper.scss
    
    @include media-breakpoint-up(lg){
      flex-direction: row;
      padding:2rem;
      gap:2rem;
    }
  }

}


