.code-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:10%;
    height: 80vh;
    flex: 0 0 23rem;
    max-height: 40rem;
    padding:1rem;
    border: solid rgb(189, 189, 189) 2px;
    border-radius: .5rem;
    background-color: #1e1e1e;
    overflow-y: overlay;




    .editor-container {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      flex-basis: 0;
      margin:0rem;
      border-radius: .5rem;

      .editor-title {
        color: rgba(255,255,255,.7);
      }

      // &:nth-child(1){
      //   .CodeMirror-line:nth-child(1){
      //     color:red;
      //   }
      // }

      .CodeMirror {
        height: 100% !important;

        .cm-number{
          border-radius: 4px;
          
          &.highlight{
            animation-name: example;
            animation-duration: 1000ms;

          }
        }

        .cm-atom{
          border-radius: 4px;
          
          &.highlight{
            animation-name: example;
            animation-duration: 1000ms;

          }
        }

        .cm-property{
          border-radius: 4px;
          
          &.highlight{
            animation-name: example;
            animation-duration: 1000ms;
          }
        }

        @keyframes example {
          from {
            background-color: #1e1e1e;
            filter: invert(100%);
          }
          to {filter: invert(0%);}
        }

        &-vscrollbar{
          display: none !important;
        }

        &-scroll{
          padding: 0 !important;
          margin: 0 !important;
          overflow: initial !important;
          height:initial;
        }
      }
    }
  }