.code-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:10%;
    height: 50vh;
    flex: 0 0 23rem;
    max-height: 40rem;
    padding:1rem;
    border-top: solid rgb(189, 189, 189) 2px;
    background-color: #1e1e1e;

    .code-toggle{
      position: absolute;
      top:0;
      left:0;
      margin:.5rem;
      background-color: transparent;
      
      button{
        color: white;
        border-radius: .5rem;
        padding: .1rem .75rem;
        margin: 0 .25rem;
      }

      .open{
        background-color: rgb(70, 68, 103);
      }

    }

    .editor-container {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      flex-basis: 0;
      margin: 2rem 0 0 0;
      border-radius: .5rem;
      position: absolute;

      .editor-title {
        color: rgba(255,255,255,.7);
      }

      &.open{
        opacity: 0;
        // order:1;
      }

      @include media-breakpoint-up(lg){
        position: initial;
      }

      // &:nth-child(1){
      //   .CodeMirror-line:nth-child(1){
      //     color:red;
      //   }
      // }

      .CodeMirror {
        height: 100% !important;

        .cm-number{
          border-radius: 4px;
          
          &.highlight{
            animation-name: example;
            animation-duration: 1000ms;

          }
        }

        .cm-atom{
          border-radius: 4px;
          
          &.highlight{
            animation-name: example;
            animation-duration: 1000ms;

          }
        }

        .cm-property{
          border-radius: 4px;
          
          &.highlight{
            animation-name: example;
            animation-duration: 1000ms;
          }
        }

        .CodeMirror-line{
          pointer-events: none;
          user-select: none;
        }

        @keyframes example {
          from {
            background-color: #1e1e1e;
            filter: invert(100%);
          }
          to {filter: invert(0%);}
        }

        &-vscrollbar{
          display: none !important;
        }

        &-scroll{
          padding: 0 !important;
          margin: 0 !important;
          overflow: initial !important;
          height:initial;
        }
      }
    }

    @include media-breakpoint-up(lg){
      border: solid rgb(189, 189, 189) 2px;
      border-radius: .5rem;
      overflow-y: overlay;
    }
  }