body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  overflow-y: overlay;
}

a{
  text-decoration: none;
  color: $purple-white; 

  &:hover{
    color: $purple-light;
  }
}

input{
  &:focus-visible{
    outline: none;
  }
}

.hidden{
  display: none !important;
  pointer-events: none;
}

.white-svg{
  filter: brightness(0) saturate(100%) invert(100%);
}

.black-svg{
  filter: brightness(0) saturate(100%);
}

.no-scroll{
  overflow: hidden;
}

.flex-center{
  display:flex;
  justify-content: center;
  align-items: center;
}

.dark-surface{
  background-color: $purple-gray;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  border-radius: 5px;
}