@use 'keyframes/appear';

.header{
  display: flex;
  justify-content: center;
  background-color: #342f3d;
  padding: .5rem 0;
  width: 100vw;
  transition: all 0.3s;
  position: fixed;
  z-index: 111111111;
  font-family: 'Montserrat', sans-serif;
  
  .header-content{
    animation: appear .5s ease;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    // justify-content: space-between;
    width:80%;

    @include media-breakpoint-up(lg){
      justify-content: space-between;
    }

    .logo{
      color: rgb(239, 233, 255);
      font-size: 6vh;
      // display: none;
      font-family: 'Satisfy', cursive;
      
      @include media-breakpoint-up(lg){
        font-size: 7vh;
        display: initial;
      }
    }
  
    .links{
      display: none;
      justify-content: center;
      gap:4rem;
      align-items: center;
      font-size: 1.25rem;
      color: #ffffff;
      @include media-breakpoint-up(lg){
        display: flex;
      }
    }
  }

  @include media-breakpoint-up(lg){
    display: flex;
  }
}

.not-top{
  box-shadow: 0 10px 30px -10px #27262a;
}

.top{
  box-shadow: none;
}

.shown{
  top: -90px;
  box-shadow: none;
}

.visible{
  top: 0px;
}



