.header{
  display: flex;
  justify-content: center;
  background-color: #8E96B2;
  padding: .5rem 0;
  
  .header-content{
    display: flex;
    flex-direction: column;
    width:80%;

    .logo{
      color: #342F3D;
      font-size: 2rem;
      font-weight: 600;

      @include media-breakpoint-up(sm){
        font-size: 3rem;
      }
    }
  
    .links{
      display: flex;
      justify-content: center;
      gap:4rem;
      align-items: flex-end;
      font-size: 1.25rem;
    }
  }
}