.helper-x{
  border: none;
  border-left: 1px dashed #f00;
  width:1px;
  position:absolute;
  transition: height 300ms;
}

.helper-y{
  border: none;
  border-top: 1px dashed #f00;
  height:1px;
  position:absolute;
  transition: width 300ms;
}


