@use 'sass:math';
$svg-size: 7rem;
$stack-padding: 4rem;
$logo-width:10rem;
$logo-padding:1rem;
$logo-gap:3rem;
$logo-margin:1rem;

.home{
  background-color: #342F3D;
  display: flex;
  justify-content: center;

  .content-container{
    width:80%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .introduction{
      width:100%;
      a{
        color: white;
      }
    }
    
    h1{
      font-size: 6rem;
    }
    
    p{
      font-size: 1.5rem;
    }

    .tech-stack{

      margin-top:8rem;

      h2{
        font-size: 3rem;
        text-align: center;
      }
    }

    .stack{
      margin-top:2rem;
      padding:0;
      padding-bottom: $stack-padding - $logo-margin;
      padding-top: $stack-padding - $logo-margin;
      background-color: #4c4c5a;
      border-radius: .75rem;
      position: relative;
      z-index: 4;
      
      
      .accordion{
        position: relative;
        height: 0px;
        overflow:hidden;
        background-color: #bec6e5;
        transition: all 600ms;
        width:100%;
        box-shadow: inset 0px 1px 0px 0px rgba(50, 50, 50, 0.7);
        z-index:12;
        .text{
          // width:80%;
          padding:2rem;
          color:#383847;
        }
      }

      .accordion-bottom{
        margin-bottom: 4rem;
      }
      
      .open{
        height:15rem;
      }

      .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        color: rgba(232, 250, 255, 0.973) !important;
        padding: $logo-padding;
        border-radius: 1rem;
        transition: all 400ms;
        user-select: none;
        margin:$logo-margin 0;
        // flex: 0 0 160px;
        width: $logo-width;
        // margin-top:2rem;
        // margin-bottom:2rem;
        text-shadow: 2px 1px 2px rgba(0,0,0,.4);
        
        &:hover{
          // background-color: #68687a;
          box-shadow: 10px 10px 35px 0px rgba(50, 50, 50, 0.897), -10px -10px 40px 0px  #656570;
          transform: translateY(-.5rem);

        }

        p{
          margin: .5rem 0 0 0;
          font-size: 1.25rem;
        }
        
        img{
          width: $svg-size;
          height: $svg-size;
          pointer-events: none;
        }
      }

    }

      
    .front-end{
      grid-template-columns: 1fr;
      display: flex;
      margin:5rem 0rem 5rem 0rem;
      justify-content:center;
      align-items: center;
      flex-wrap: wrap;
      gap: 0 0;
      z-index: 111;

      width:$logo-width + 2*$stack-padding;
      
      @include media-breakpoint-up(md){
        width:2*$logo-width + 1*$logo-gap + 2*$stack-padding;
        gap: 0 $logo-gap;
      }
      
      @include media-breakpoint-up(lg){
        width:3*$logo-width + 2*$logo-gap + 2*$stack-padding;
      }

    }

    .socials{

      background-color: transparent !important;
      // column-gap: 5vw;
      margin-top:2rem;
      padding:0;
      gap:2rem;
      
      @include media-breakpoint-up(md){
        gap:3rem;
      }
      
      @include media-breakpoint-up(lg){
        gap:5rem;
      }
      


      .social{
        display: flex;
        justify-content:center;
        align-items: center;



        &:hover{
          transform: scale(1.2);
        }

        transition: all 400ms;
  
        img{
          width: calc($logo-width/4) !important;
          // height: $svg-size/4 !important;
          // .youtube{
          //   width:initial !important;
          // }
        }
      }

      #github{
        filter: brightness(0) saturate(100%) invert(100%);
      }
    }
  }
}

// handle order of the techstack items
$elements: 24;

@for $i from 0 to $elements {
  .stack{
    @include media-breakpoint-up(md){
      .item:nth-child(#{2*$i + 1}) {
        order: $i+2*floor(calc($i/2));
      }
      .item:nth-child(#{2*$i + 2}) {
        order: $i+2*floor(calc($i/2))+2;
      }
    }
    
    @include media-breakpoint-up(lg){
      .item:nth-child(#{2*$i + 1}) {
        order: $i+3*floor(calc($i/3));
      }
      .item:nth-child(#{2*$i + 2}) {
        order: $i+3*floor(calc($i/3))+3;
      }
    }
  }
}

