@use 'sass:math';
@use 'keyframes/appear';

$svg-size: 7vh;
$stack-padding: 4rem;
$logo-width:10rem;
$logo-padding:1rem;
$logo-gap:.5rem;
$logo-margin:1rem;

.home{
  background-color: #342F3D;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(239, 233, 255);

    .introduction{
      width:100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(239, 233, 255);

      .wrapper{

        position: relative;
        bottom: 10vh;

        h1{
          font-size: 5vh;
          animation: appear 1.5s ease;
          position: relative;
          
          @include media-breakpoint-up(lg){
            font-size: 10vh;
          }
        }
        
        p{
          font-size: 2vh;
          width: 80vw;
          animation: appear 2s ease;
          position: relative;
          @include media-breakpoint-up(lg){
            width: 60vw;
            font-size: 10vh;
          }
        }
      }
    }

    .about{
      // height: 90vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      @include media-breakpoint-up(lg){
        height: 90vh;
      }

      .about-wrapper{
        display: flex;
        flex: 1;
        flex-direction: column;
        gap:4vh;

        @include media-breakpoint-up(lg){
          flex-direction: row;
        }

        .description{
          flex: 1;
          display: flex;
          justify-content: center;
          align-items:center;
          .wrapper{
            width:70%;
            font-size: 2vh;
          }          
          
          @include media-breakpoint-up(lg){
            justify-content: flex-end;
          }
        }

        .techstack{
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          
          @include media-breakpoint-up(lg){
            display: flex;
            justify-content: flex-start;
          }

          .wrapper{
            background-color: #38363c;
            width:70%;
            aspect-ratio: 1;
            margin-left:0;
            border-radius: 5px;
            padding:2rem;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
            
            @include media-breakpoint-up(lg){
              margin-left:10vw;
            }
  
            // a grid of logos. 3x3 grid.
            .grid{
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-template-rows: repeat(3, 1fr);
              height: 100%;
              aspect-ratio: 1;
              grid-gap: 1rem;
              .logo{
                // height: 100%;
                // width: 100%;
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
  
                img{
                  
                  height: 5vh;
                  width: 5vh;
                  margin-bottom: .5rem;

                  @include media-breakpoint-up(lg){
                    height: 7vh;
                    width: 7vh;
                  }
                }
                p{
                  margin-bottom:0;
                }
              }
            }
          }
  
        }
      }
    }

    .socials-wrapper{

      color: rgb(239, 233, 255);
      padding: 2rem;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .socials{
  
        background-color: transparent !important;
        // column-gap: 5vw;
        display: flex;
        margin-top:2rem;
        padding:0;
        gap:2rem;
        
        @include media-breakpoint-up(md){
          gap:3rem;
        }
        
        @include media-breakpoint-up(lg){
          gap:5rem;
        }
        
  
  
        .social{
          display: flex;
          justify-content:center;
          align-items: center;
  
  
  
          &:hover{
            transform: scale(1.2);
          }
  
          transition: all 400ms;
    
          img{
            width: calc($logo-width/4) !important;
            // height: $svg-size/4 !important;
            // .youtube{
            //   width:initial !important;
            // }
          }
        }
  
        #github{
          filter: brightness(0) saturate(100%) invert(100%);
        }
      }
    }

}


