.app{
  display: flex;
}

.controls{
  display: flex;
  margin: .5rem;
  flex-direction: column;
  padding: 2rem;

  button{
    margin: .25rem;
    width:12rem;
  }
  
  input{
    width:5.75rem;
    margin: .25rem;
  }
}
