.app{
  display: flex;
}

.cell-sheet{
  width:16rem;

  table.data-grid{
    width:100%;
  }

  .data-grid-container .data-grid .cell .value-viewer {
    display: block;
    box-sizing: content-box;
    width: inherit;
  }
 
  .data-grid-container .data-grid .cell .data-editor{
    display: block;
    box-sizing: content-box;
    height: inherit;
  }
}

.controls{
  display: flex;
  margin: .5rem;
  flex-direction: column;
  padding: 2rem;

  button{
    margin: .25rem;
    width:12rem;
    height:2.5rem;
  }
  
  input{
    width:5.75rem;
    margin: .25rem;
  }

  .render-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mode-select{
  height: 3rem;
  width:9rem;
  margin:2rem;
  padding:.5rem;

  option{
    padding: 1rem 0;
  }
}

.settings{
  margin:2rem;
  div{
    margin:.5rem;
  }
}