.text-wrapper{
    position: relative;
    height:10vh !important;
    width:23rem;
    max-height: 40rem;
    font-family: 'Roboto', sans-serif;
    color:white;
    display: none;


    @include media-breakpoint-up(lg){
        display: block;
    }
    
    .text{
        padding:0;
        overflow-y: scroll;
        
        li{
        padding:.5rem;
        border-radius: .5rem;
        transition: background-color 300ms;

        &:hover{
            background-color: rgba(255,255,255,.1);
        }
        }
    }   

    // _buttons.scss
}